* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(192, 192, 192);
    
}

.divSearch {
    display: flex;
    margin-top: 20px;
}

input {
    height: 32px;
}

.divSearch p {
    margin-left: 10px;
}

img {
    width: 200px;
}

.cardDatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 200px;
    width: 200px;
    background-color: white;
    position: relative;
    bottom: 5px ;
    line-height: 30px;
    padding: 10px 10px;
}

#card {
   padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
}

.cardUsuario {
    margin-left: 10px;
    margin-bottom: 10px;
}

hr {
    width: 170px;
    margin-left: 15px;
    margin-top: 10px;
}

h3 {
    color: rgb(6, 155, 255);
    margin-bottom: 5px;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    
    
}

.ocultar {
    display: none;
}

#buscar {
    margin-top: 15px;
    margin-left: 15px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    padding: 50px 50px;
}

.botonesPaginado {
    width: 50px;
    height: 50px;
    background-color: white;
    color: rgb(6, 155, 255);
    margin: 5px;
    font-weight: bold;
    font-size: 18px;
    border: none;
}

.botonesPaginado:hover{
    background-color: rgb(6, 155, 255);
    color: white;
}
